.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }

  &--programs {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $tablet-width) {
      padding-left: 70px;
      padding-right: 70px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 110px;
      padding-right: 110px;
    }
  }
}
