.title-line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: $color-basic-green;
  top: 12px;
  z-index: -1;


  @media (min-width: $tablet-width) {
    top: 20px;
  }

  &--form {
    display: inline-block;
    top: -12px;
  }
}
