.additional-action {
  min-height: 290px;
  background-image: (rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/additional-background@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/additional-background@2x.jpg");
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    min-height: 200px;
    background-image: linear-gradient(to right, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/additional-background@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 288px;
  }
}

.additional-action__text {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color-basic-white;
}
