.advantages {
  background: $bg-special-grey;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $color-basic-white 0%, $color-basic-white 45%, $bg-special-grey 45%, $bg-special-grey 100%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, $color-basic-white 0%, $color-basic-white 30%, $bg-special-grey 30%, $bg-special-grey 100%);
  }
}

.advantages__item {
  border: 1px solid $color-special-grey;
  border-radius: 3px;
}

.advantages__title {
  line-height: 40px;
}

.advantages__description {
  color: $color-basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.advantages__number {
  font-family: $font-secondary;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $color-basic-black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.advantages__result {
  line-height: 14px;
  text-align: center;
  color: $color-basic-grey;
}

.advantages__price {
  font-family: $font-secondary;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $color-basic-black;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}
