.card {
  background-color: $bg-basic-grey;

  &--more {
    background-color: inherit;
    border: 2px solid $bg-basic-grey;
  }
}

.card__image {
  display: block;
}

.card__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.card__description {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
  }
}
