.contacts__text {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-special-black;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  line-height: 20px;
  font-style: inherit;
  color: inherit;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
