.description-product__item {
  font-size: 12px;
  line-height: 16px;
  color: $color-special-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid $color-special-grey;
  }
}
