.form__group {
  position: relative;
  border: none;
  margin: 0;
  padding: 22px 0 21px;
  border-bottom: 1px solid $color-border-grey-light;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 23px 0 48px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &--coments {
    padding-top: 4px;
    padding-bottom: 13px;
    border: none;

    @media (min-width: $tablet-width) {
      padding: 23px 0 30px;
    }
  }

  &--contacts {
    border: none;
    padding: 26px 0 21px;

    @media (min-width: $tablet-width) {
      padding: 16px 0 40px;
    }
  }

  &--additional {
    border: none;
    padding: 8px 0 35px;

    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
      padding: 33px 0 17px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }
}

.form__group-container {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 51px;
  }
}

.form__group-list {
  @media (min-width: $tablet-width) {
    &--programs {
      border: 1px solid $color-border-grey;
      padding: 23px 27px 27px;

      @media (min-width: $desktop-width) {
        padding: 25px 28px;
      }
    }

    &--profil {
      @media (min-width: $desktop-width) {
        padding-right: 0;
      }
    }

    &--contacts {
      @media (min-width: $desktop-width) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 80px;
        margin-bottom: 0;
      }
    }
  }
}

.form__group-list--additional {
  display: grid;
  row-gap: 12px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: none;
    margin-bottom: 60px;
  }
}

.form__group-wrapper {
  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.form__group-title {
  line-height: 26px;
  padding: 0 19px;
  margin-right: 80px;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    line-height: 36px;
    padding: 0 40px;
    margin-left: -40px;
  }

  &--contacts {
    margin-bottom: 33px;

    @media (min-width: $tablet-width) {
      margin-bottom: 75px;
      padding: 0 34px 0 40px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 76px;
    }
  }

  &--coment {
    margin-bottom: 36px;

    @media (min-width: $tablet-width) {
      margin-bottom: 86px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 78px;
    }
  }

  &--additional {
    margin-bottom: 34px;

    @media (min-width: $tablet-width) {
      margin-bottom: 58px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 57px;
    }
  }
}

.form__textarea-value {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-basic-grey;
  appearance: none;
  outline: none;
  border: 1px solid $color-border-grey;
  padding: 14px 14px 14px 15px;
  resize: none;
  width: 100%;
  height: 149px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 20px;
    height: 175px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    padding: 9px 20px;
  }
}

.form__description {
  font-family: $font-primary;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: $color-basic-black;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-left: -3px;
    margin-top: -5px;
    margin-bottom: 0;
    text-align: start;
  }
}

.form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 26px;
    padding: 13px 0;
  }
}

.form__button-wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    align-items: center;
    margin-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
  }
}
