.hero {
  position: relative;
  width: 100%;
  max-width: 1440px;
  min-height: 480px;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
    margin-bottom: 72px;
    padding-bottom: 0;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 302px;
    z-index: -1;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-mobile@1x.jpg"), linear-gradient(to right, $bg-gradient-primary, $bg-gradient-secondary);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-mobile@2x.jpg"), linear-gradient(to right, $bg-gradient-primary, $bg-gradient-secondary);
    }

    @media (min-width: $tablet-width) {
      background-image: none;
    }

    @media (min-width: $desktop-width) {
      min-width: 50%;
      max-height: 694px;
      height: calc(100% + 288px);
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-desktop@1x.jpg"), linear-gradient(to right, $bg-gradient-primary, $bg-gradient-secondary);
      background-repeat: no-repeat;
      background-position: 0;
      background-size: cover;
    }

    @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-desktop@2x.jpg"), linear-gradient(to right, $bg-gradient-primary, $bg-gradient-secondary);
    }
  }
}

.hero__wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-left: 90px;
    min-height: 870px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 105px;
    padding-left: 80px;
    min-height: 585px;
  }
}

.hero__image {
  display: block;
  position: relative;
  width: 280px;
  height: 270px;
  left: 50%;
  top: 29px;
  transform: translateX(-50%);
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    top: 261px;
    left: 50%;
    transform: translateX(-50%);
    width: 709px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    margin-bottom: 0;
    top: 142px;
    left: calc(50vw - 163px);
    transform: translateX(0);
  }
}

.hero__title {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: $color-basic-white;
  max-width: 250px;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    text-align: start;
    color: $color-basic-black;
    max-width: 420px;
    margin: 0;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
  }
}


.hero__description {
  font-family: $font-secondary;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: $color-basic-white;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: $color-basic-black;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    margin-left: 0;
  }
}

.hero__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 244px;
    padding: 14px 26px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 0;
  }
}
