.hero {
  position: relative;
  width: 100%;
  min-height: 480px;

  @media (min-width: $tablet-width) {
    position: static;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 302px;
    z-index: -1;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-mobile@1x.jpg"), linear-gradient(to right, $bg-gradient-primary, $bg-gradient-secondary);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: contain;

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-mobile@2x.jpg"), linear-gradient(to right, $bg-gradient-primary, $bg-gradient-secondary);
    }

    @media (min-width: $tablet-width) {
      background-image: none;
    }

    @media (min-width: $desktop-width) {
      min-width: 50%;
      max-height: 694px;
      height: calc(100% + 288px);
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-desktop@1x.jpg"), linear-gradient(to right, $bg-gradient-primary, $bg-gradient-secondary);
      background-repeat: no-repeat;
      background-position: 0;
      background-size: cover;
    }

    @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/index-background-desktop@2x.jpg"), linear-gradient(to right, $bg-gradient-primary, $bg-gradient-secondary);
    }
  }
}

.hero__image {
  display: block;
}

.hero__title {
  text-align: center;
  color: $color-basic-white;

  @media (min-width: $tablet-width) {
    text-align: start;
    color: $color-basic-black;
  }
}

.hero__description {
  font-family: $font-secondary;
  line-height: 14px;
  text-align: center;
  color: $color-basic-white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: $color-basic-black;
  }
}
