.input {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-special-dark-grey;
  border: 1px solid $color-border-grey;
  outline: none;

  &::placeholder {
    color: $color-special-dark-grey;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
