.main-nav__link {
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-basic-black;
  text-align: center;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }


  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    // color: $color-basic-white;
  }
}

.main-nav__link--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-basic-green;
    // padding-bottom: 6px;
  }

  // @media (min-width: $desktop-width) {
  //   border-bottom: 2px solid $color-basic-white;
  //   padding-bottom: 6px;
  // }
}
