.promotions {
  position: relative;
}

.promotions__wrapper {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-left: 68px;
    padding-right: 68px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 344px;
    padding-right: 344px;
    margin-bottom: 104px;
  }
}

.promotions__title {
  padding-right: 40px;
  padding-left: 20px;
  margin-left: -20px;
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    padding-left: 40px;
    margin-bottom: 66px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -40px;
    padding-left: 40px;
    margin-bottom: 72px;
  }
}

.promotions__description {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $color-basic-black;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}

.promotions__form {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.promotions__field {
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 30px;
  color: $color-special-dark-grey;
  text-transform: uppercase;
  width: 100%;
  height: 56px;
  margin: 0;
  padding: 13px;
  border: 1px solid $color-special-grey;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    min-width: 376px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 496px;
  }
}

.promotions__button {
  width: 100%;
  padding: 15px 0;

  @media (min-width: $tablet-width) {
    max-width: 256px;
    width: 100%;
  }
}
