.radio {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.radio__name {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio__label {
  font-family: $font-secondary;
  font-size: 16px;
  text-transform: uppercase;
  color: $color-basic-grey;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
