.social {
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  padding: 20px;
  border-top: 1px solid $color-border-grey-light;
  border-bottom: 1px solid $color-border-grey-light;
  width: 100%;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    margin-top: 7px;
    margin-left: 35px;
    max-width: 184px;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  mask-image: var(--images);
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  background-color: $color-bg-grey;

  &--vkontakte {
    --images: url("../../icons/stack.svg#vkontakte");
  }

  &--youtube {
    --images: url("../../icons/stack.svg#youtube");
  }

  &--telegram {
    --images: url("../../icons/stack.svg#telegram");
  }

  &:hover,
  &:focus {
    background-color: $color-basic-green;
  }

  &:active {
    background-color: $color-basic-green;
    opacity: 0.3;
  }
}
